<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cmsr.comac.commander.dao.VidiconDao">


    <select id="getVidiconList" resultType="com.cmsr.comac.commander.pojo.Vidicon">
        select id,ip,description,labID,targetDevice from vidicon
    </select>
</mapper>